<p>email works!</p>



  
<div class="container">
    <div class="row">
      <div class="col-10">
        <div class="jumbotron">

          <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text"  class="form-control" formControlName="firstName"  />
              
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" />
            
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" formControlName="email"/>
             
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control"  formControlName="password"/>
         
             
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>